<script>
  console.log('This script runs before the first template.')
</script>

<template id="complex-component">
  <p>1st template foo</p>
  <button onclick="doClick()">doClick</button>
  <template>
    <p>1st template bar</p>
  </template>
  <div>
  <script>
    function doClick(){
      console.log("It's been clicked.")
    }
  </script>
</div>
</template>


<script>
  console.log('This script runs before the between templates.')
</script>


<template id="complex-component-extra">
  <p>2nd template foo</p>
  <script>
  console.log('aaargh')
  </script>
</template>

<script>
  console.log('This script runs sfter the second template.')
</script>

<script>

  class ComplexComponent extends HTMLElement{
    constructor(){
      super()
      this.shadow = this.attachShadow({mode:'open'})

      const el = document.querySelector("#complex-component")
        .content.cloneNode(true)

      this.shadow.appendChild( el )

      // The following allows the script inside the template tags to work.
      this.shadow.querySelectorAll("script").forEach( script => {
        let scriptElement = document.createElement('script')
        scriptElement.appendChild(document.createTextNode(script.innerHTML))
        script.parentElement.appendChild(scriptElement)
      })
    }
  }
  customElements.define( 'complex-component',ComplexComponent )
</script>

<script>
  class ComplexComponentExtra extends HTMLElement{
    constructor(){
      super()
      const el = document.querySelector("#complex-component-extra")
        .content.cloneNode(true)
      this.attachShadow({mode:'open'}).appendChild( el )
    }
  }
  customElements.define( 'complex-component-extra',ComplexComponentExtra )
</script>
